{% extends "base.html.twig" %}

{% block title %}Gestion Fournisseur{% endblock %}

{% block stylesheets %}
{{ parent() }}

<style>
    div.content-wrapper
    {

        padding-top: 50px;
        padding-right: 80px;
        padding-bottom: 50px;
        padding-left: 80px;
}
</style>

{% endblock stylesheets %}

    {% block body %}
        {% block menu %}

            {{ include('navFour.html.twig') }}

        {% endblock menu %}

        <div class="content-wrapper">
            <section class="content">
                <div class="row">
                    <div class="box">
                        <div class="box-header">
                            <h3  class="box-title"> Produit</h3>
                        </div>
                        <div class="box-body">
                            {% block tout %}

                                <table id="exemple1" class="table table-bordered  table-striped">
                                    <tr>
                                        <th>Code</th>
                                        <th>Raison sociale</th>
                                        <th colspan ="3">Actions</th>
                                    </tr>

                                        <tr
                                                bgcolor= "#bfc9ca"
                                        >
                                            <td>
                                                {{four.code}}
                                            </td>

                                            <td>
                                                {{four.raisonsociale}}
                                            </td>

                                            <td>
                                                <a href="{{ path('listFour') }}" >
                                                    Retour à la liste
                                                </a>

                                            </td>
                                            <td>
                                                <a href="{{ path('MajFour', {'id': four.id}) }}">
                                                    Editer
                                                </a>
                                            </td>
                                        </tr>

                                </table>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </section>
        </div>

        {% endblock %}
    {% block map %}

    {% endblock map %}