<ul>
    <ul>
        <li><a class="active" href="{{ path('prod') }}">Produit</a></li>
        <li><a class="active" href="{{ path('ajouterprod') }}">Ajouter</a></li>
        <li><a class="active" href="{{ path('listProd') }}">Liste </a></li>
    </ul>
    <li><a class="active" href="{{ path('four') }}">Fournisseur</a></li>
    <li><a class="active" href="{{ path('ajouterFour') }}">Ajouter</a></li>
    <li><a class="active" href="{{ path('listFour') }}">Liste</a></li>
</ul>